<div class="toolbar toolbar-products range">
    <form data-role="save"
          data-bind="submit:search"
          method="post">
        <div class="modes">
            <label class="label" for="low-range">Low Range</label>
            <input type="text" class="input-text" id="low-range" name="low-range" data-bind="value: lowRange" />
        </div>
        <div class="modes">
            <label class="label" for="high-range">High Range</label>
            <input type="text" class="input-text" id="high-range" name="high-range" data-bind="value: highRange" />
            <div class="message " data-bind="text: highRangeErrorMessage, visible: highRangeErrorMessage() !== ''"></div>

        </div>
        <div class="modes">
            <label class="sorter-label" for="sort-by-price">Sort By</label>
            <div class="field">
                <select id="sort-by-price" name="sort-by-price"  data-bind="value: sortByPrice">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
            </div>
        </div>
        <div class="modes">
            <button type="submit" class="action primary" >search</button>
        </div>
    </form>

</div>

